###############################################################################
# Ignore IDE specific settings
###############################################################################
.vscode/
.settings

###############################################################################
# Ignore node files
###############################################################################
node_modules/
.node_modules/

###############################################################################
# Ignore environment files and secrets
###############################################################################
.env

###############################################################################
# Ignore compiled files
###############################################################################
dist/
